@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Permanent+Marker&family=Roboto&display=swap');


body{
  color:white;
 font-family: 'Roboto', sans-serif;

}


h1{
  font-size: 3em;
  margin-bottom: 1,5em;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
}

.toggle-menu {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  text-decoration: none;

}

#main-menu ul a {
    font-family:  'Girassol', cursive;
    font-size: 1.5em;
}

h2{
font-size: 2em;
margin-bottom: 1em;
font-family: 'Girassol', cursive;
}
